<div>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="pull-right"><mat-icon>more_horiz</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addAttendant()"><fa-icon [icon]="['fas', 'user-plus']"></fa-icon> Adicionar Participante</button>
        <button mat-menu-item *ngIf="attendantsTable?.selection?.selected?.length !== 0" (click)="removeAttendants()"><fa-icon [icon]="['fas', 'user-slash']"></fa-icon> Remover Participante(s)</button>
    </mat-menu>
</div>
<div class="row">
    <div class="col">
        <app-table-component [data]="attendants" [columnNames]="displayedColumnNames" [columns]="displayedColumns" [isSelectable]="true" #attendantsTable></app-table-component>
    </div>
</div>