<div class="container">
    <div class="row">
        <div class="col">
            <h1>Usuários do Sistema</h1>
        </div>
        <div class="col pull-right" *ngIf="users && users.length > 0">
            <button mat-raised-button class="pull-right" (click)="exportData()">
                <fa-icon [icon]="['fas', 'file-download']"></fa-icon> Exportar dados
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field style="width: 100%;">
                <mat-label>Filtrar</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
    
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="usersDataSource" matSort>
                  <ng-container matColumnDef="email">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Usuário </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row"> {{row.userName}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="role.name">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Modo de Permissionamento </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row"> {{row.role?.name}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="provider">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Conta </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row"> {{row.provider}} </mat-cell>
                  </ng-container>
                  
                  <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row mat-row matRipple *matRowDef="let row; columns: displayedColumns;" (click)="selectUser(row)"></mat-row>
              
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Nenhum registro foi encontrado</td>
                  </tr>
                </table>          
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</div>
<style>
table{
    width: 100%;
}
.mat-row:hover {
    background: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}
</style>