<div class="row justify-content-center" style="max-width: 275px;">
    <div>
        <a class="social-link mr-3" href="{{gitHubLink}}" target="_blank"><fa-icon [icon]="['fab', 'git-square']" size="2x"></fa-icon></a>
        <a class="social-link" href="{{linkedInLink}}" target="_blank"><fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon></a>
    </div>
    <div class="w-100"></div>
    <div class="col">
        <p class="text-center"><small>Criado por Matheus de Souza</small></p>
    </div>
</div>
<style>
    .social-link{
        color: black;
        transition: color .3s;
    }
    .social-link:hover{
        color: #3f51b5;
    }
</style>